## Probability Distributions Exercises

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats

### 1. A bank found that the average number of cars waiting during the noon hour at a drive-up window follows a Poisson distribution with a mean of 2 cars. Make a chart of this distribution and answer these questions concerning the probability of cars waiting at the drive-up window.

- What is the probability that no cars drive up in the noon hour?
- What is the probability that 3 or more cars come through the drive through?
- How likely is it that the drive through gets at least 1 car?

In [2]:
λ = 2
cars = stats.poisson(λ)

In [3]:
cars.pmf(0)

0.1353352832366127

In [ ]:
# Prob no cars drive up: 0.135

In [4]:
cars.cdf(3)

0.857123460498547

In [ ]:
# Prob 3 or more cars come through: 0.86

In [5]:
cars.sf(0)

0.8646647167633873

In [ ]:
# Prob that drive through gets at least 1 car: 0.86

### 2. Grades of State University graduates are normally distributed with a mean of 3.0 and a standard deviation of .3. Calculate the following:
- What grade point average is required to be in the top 5% of the graduating class?
- What GPA constitutes the bottom 15% of the class?
- An eccentric alumnus left scholarship money for students in the third decile from the bottom of their class. Determine the range of the third decile. Would a student with a 2.8 grade point average qualify for this scholarship?
- If I have a GPA of 3.5, what percentile am I in?

In [6]:
mean = 3
std = 0.3

grades = stats.norm(mean,std)

In [7]:
grades.isf(0.05)

3.4934560880854417

In [8]:
# GPA required to be in top 5%: 3.49

In [9]:
grades.ppf(0.15)

2.689069983151863

In [10]:
# GPA for bottom 15%: 2.68

In [11]:
grades.isf(.29)

3.1660154158667018

In [12]:
grades.ppf(.40)

2.9239958690592602

In [13]:
# range of third decile is [2.92,3.16]
# student with 2.8 GPA would not qualify

In [14]:
grades.pdf(3.5)

0.3315904626424956

In [15]:
#GPA 3.5 is 33rd percentile

### 3. A marketing website has an average click-through rate of 2%. One day they observe 4326 visitors and 97 click-throughs. How likely is it that this many people or more click through?

In [16]:
visitors = n_trials = 4326
p = 0.02

click_t = stats.binom(n_trials,p)

In [17]:
click_t.sf(97)

0.11781530585978467

In [18]:
# Probability this many people click through: 0.12

### 4. You are working on some statistics homework consisting of 100 questions where all of the answers are a probability rounded to the hundreths place. Looking to save time, you put down random probabilities as the answer to each question.

- What is the probability that at least one of your first 60 answers is correct?

In [19]:
n_trials = 60
p = 1/100

In [20]:
correct = stats.binom(n_trials,p)

In [21]:
correct.sf(0)

0.45284335760923855

### 5. The codeup staff tends to get upset when the student break area is not cleaned up. Suppose that there's a 3% chance that any one student cleans the break area when they visit it, and, on any given day, about 90% of the 3 active cohorts of 22 students visit the break area. How likely is it that the break area gets cleaned up each day? How likely is it that it goes two days without getting cleaned up? All week?

In [22]:
n_trials = 60
p = 0.03

In [23]:
clean = stats.binom(n_trials,p)

In [24]:
clean.pmf(1)

0.29840412808127686

In [25]:
# 30% chance break area gets cleaned up each day

In [26]:
(1-clean.pmf(1))**2

0.49223676749339346

In [27]:
# 49% chance break area goes 2 days without being cleaned up

In [28]:
(1-clean.pmf(1))**5

0.16999459972522257

In [29]:
# 16% chance break area goes all week without being cleaned up

### 6. You want to get lunch at La Panaderia, but notice that the line is usually very long at lunchtime. After several weeks of careful observation, you notice that the average number of people in line when your lunch break starts is normally distributed with a mean of 15 and standard deviation of 3. If it takes 2 minutes for each person to order, and 10 minutes from ordering to getting your food, what is the likelihood that you have at least 15 minutes left to eat your food before you have to go back to class? Assume you have one hour for lunch, and ignore travel time to and from La Panaderia.

In [30]:
mean = 15
std = 3

In [31]:
lunch = stats.norm(mean,std)

In [32]:
# (x*2)+10 = 45
# x = 17.5 = 17 people max

In [33]:
lunch.cdf(17)

0.7475074624530771

In [34]:
# prob you have 15 min left is .75

### 7. Connect to the employees database and find the average salary of current employees, along with the standard deviation. For the following questions, calculate the answer based on modeling the employees salaries with a normal distribution defined by the calculated mean and standard deviation then compare this answer to the actual values present in the salaries dataset.

- What percent of employees earn less than 60,000?
- What percent of employees earn more than 95,000?
- What percent of employees earn between 65,000 and 80,000?
- What do the top 5% of employees make?

In [35]:
import pandas as pd
import env

In [47]:
def get_db_url(dbname, username=env.user, hostname=env.host, passw=env.password):
    url = f'mysql+pymysql://{username}:{passw}@{hostname}/employees'
    return url

In [50]:
url = get_db_url('employees', env.user, env.host, env.password)

In [51]:
salary = pd.read_sql('SELECT * FROM salaries', url)

In [68]:
salary.head()

   emp_no  salary   from_date     to_date
0   10001   60117  1986-06-26  1987-06-26
1   10001   62102  1987-06-26  1988-06-25
2   10001   66074  1988-06-25  1989-06-25
3   10001   66596  1989-06-25  1990-06-25
4   10001   66961  1990-06-25  1991-06-25

In [55]:
mean = salary.salary.mean()

In [56]:
std = salary.salary.std()

In [57]:
sal = stats.norm(mean,std)

In [58]:
sal.cdf(60000)

0.41082494791346336

In [ ]:
# 41% of employees earn less than $60,000

In [59]:
sal.sf(95000)

0.03251945131024514

In [ ]:
# 3% of employees earn more than $95,000

In [60]:
sal.cdf(65000)

0.5280424632978248

In [61]:
sal.sf(79999)

0.1691294334161672

In [62]:
1 - (sal.cdf(65000))-(sal.sf(79999))

0.302828103286008

In [ ]:
# 30% of employees earn between $65,000 and $80,000

In [67]:
sal.isf(.05)

91616.71784707883

In [ ]:
# top 5% of employees make >$91,615